<p id="notice"><%= notice %></p>

<!div><!%= @comment.description %><!/div>
<button><%= link_to 'Edit', edit_comment_path(@comment) %></button> <br><br>

<%= link_to "Back", events_path, class: ["btn", "btn-secondary"] %>
