/*
*= require_tree .
*= require_self
   */
@import "bootstrap";
@import "tether.css";
html, body {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    background: aliceblue;
    font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

a {
    color: black;
    text-decoration: none;
}

a:hover {
    color: #2b2b2b;

}

header {
    background: goldenrod;
    background-size: contain;
    color: #B00100;
    height: 70px;
}

div#container {
    display: flex;
    flex-wrap: nowrap;
    flex-grow: 2;
}

aside#customer_info {
    width: 10%;
    color: firebrick;
    background: goldenrod;
    padding: 1em;
}

main {
    width: 100%;
    overflow: auto;

    color: orange;
    background: darkred;
    padding: 1em;
}

footer {
    color: #EFEFEF;
    position: relative;
    background: firebrick;
    padding: 1em;
    height: 100px;
    clear: both;
    bottom: 0;
}

ul#navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: firebrick;
}


ul#navbar li {
    float: left;
}

ul#navbar li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

ul#navbar li a:hover {
    background: #EFEFEF;
}

td, th {
    padding: 0.2em;
    text-align: left;
}

.flex-container {
    display: flex;
    flex-flow: column;
    justify-content: space-around;
    background: #DADADA;
    padding: 0;
    margin: 0;
    list-style: none;
}
.flex-item{
    display: inline;
    background: goldenrod;
    padding-left: 30px;
    width: available;
    height: auto;
    margin-top: 10px;
    line-height: 50px;
    color: firebrick;
    font-weight: bold;
    font-size: 2em;
    text-align: left;
}
.flex-item-user{
    background: goldenrod;
}

.flex-image{
    padding-top: 10px;
    padding-left: 10px;
    height: 100px;
    width: 100px;
}
.flex-image-L {
    padding-top: 5px;
    padding-left: 10px;
    height: 200px;
}
.flex-image-XL {
    padding-top: 10px;
    padding-left: 10px;
    height: 390px
}
.comments {
    background: firebrick;
    color: aliceblue;
}
.chat {
    background: firebrick;
    color: aliceblue;
}
img {
    height: 100px;
}
li{
    display: inline;
}